.footer--copyright {
    display: flex;
    width: 100%;
    padding: 1rem 0;
}
img.footer--logos-img-logo {
    .unitize(max-width, 160);
}

footer--links-small {
    font-size: 11px;
    color:@gray-light;
    line-height: 1.5;
}