.header-main {
    position: fixed;
    width: 100%;
    background:@brand-secondary;
    z-index: 1000;
    height: 5rem;
    top: 0;
    padding: 0.3125rem 0rem 0.3125rem 0rem;

    -webkit-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}