.listing--categories {
	color: #ffffff;
	text-align: center;
	font-size: 11px;
	opacity: 0;
	
	.listing--categoriestop {
		padding-bottom: 15px;
	}
	
	.listing--categoriesbottom {
		margin-top: 20px;
		
		a {
			padding: 0px 10px;
			
			&.is--active {
				color: #93c351;
			}
		}
		
		.category--line {
			margin: 0 auto;
    		width: 489px;
		}
	}
	
	.listing--category {
		display: inline-block;
		position: relative;
		
		img {
			display: inline;
			max-width: 80px
		}
		
		a {
			display: block;
			width: 110px;
		}
		
		.category--selected {
			position: absolute;
    		top: 18px;
    		left: 39px;
		}
	}
	
	& + .opener {
		position: absolute;
    	left: 0;
    	right: 0;
    	margin: 0 auto;
    	display: block;
    	text-align: center;
    	width: 100px;
    	color: #ffffff;
    	
    	i {
    		font-size: 8px;
		    position: relative;
		    left: 10px;
		    top: -2px;
    	}
	}
}

.emotion--show-listing {
	&.is--align-center {
		display: none;
	}
}

@media screen and (min-width: @desktopViewportWidth) {
	.listing--categories {
		opacity: 1;
		
		.listing--categoriestop {
			padding-bottom: 0px;
		}
		
		& + .opener {
			display: none;
		}
	}
	
	.listing--actions {
		display: none;
	}
}


.listing--categories .listing--category a {
    display: flex;
    width: 110px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 13px;
    letter-spacing: 0.5px;
}
.listing--categories .listing--categoriesbottom a {
   padding: 6px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    border: 0px solid rgba(255,255,255,0.3);
    margin: 0px 10px 0 0 !important;
    background: rgba(0,0,0,0.3);
    border-radius: 20px;
}