.listing--sidebar {
	.sidebar-filter {
		&.ttfis-is-open-facetts {
			.filter-panel {
				&:hover {
					.filter-panel--title {
						color: #000000;
					}
				}
				
				&.is--collapsed {
					.filter-panel--title {
						color: #000000;
					}
				}
			}
		}
	}
}

.sidebar--categories-navigation {
	//display: none;
}

.filter-panel--title {
	cursor: default;
}




@media screen and (min-width: @tabletViewportWidth) {


    .sidebar-main {
        .unitize-width(230);
        .unitize-margin(0, 0);
        .unitize(padding-top, 30);
        display: none;
        float: left;

        .is--ctl-listing &,
        .is--ctl-forms &,
        .is--ctl-tellafriend &,
        .is--ctl-newsletter &,
        .is--ctl-sitemap &,
        .is--ctl-custom &,
        .is--ctl-note.is--user &,
        .is--ctl-address &,
        .is--ctl-account.is--user & {
            display: block;

            & + .content--wrapper {
                .unitize(margin-left, 0);
            }
        }


}