a.tooltip {
    position: relative;
    text-decoration: none;
    float: left !important;
    .unitize(width 120);
    margin-right: 10px;
    color: @text-color;
}
    
a.tooltip span {
    position: absolute;
    left: 0px;
    top: 65px;
    background:@brand-primary;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 10px;
    z-index: 1;
    width: max-content;
    opacity: 0;
    .transition(.3s);

}

a.tooltip:hover span, a.tooltip:focus span, a.tooltip:active span {
    opacity: 1;
   .transition(.3s);
}